{% load static %}
{% load static %}{% load static %}

<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="{% static "css/font.css" %}">
        <link rel="stylesheet" href="{% static "css/xadmin.css" %}">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>

    <body>
                     {% context %}
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" id="mainform">

                    <input id="userid" type="hidden" value="">
                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">昵称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_username" name="username" disabled="" value="小明" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="oldpwd" class="layui-form-label">
                            <span class="x-red">*</span>旧密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="oldpwd" id="oldpwd" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="newpwd" class="layui-form-label">
                            <span class="x-red">*</span>新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="newpwd" name="newpwd" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">6到16个字符</div></div>
                    <div class="layui-form-item">
                        <label for="renewpwd" class="layui-form-label">
                            <span class="x-red">*</span>确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="renewpwd" name="repass" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button onclick="renewPwd()" id="goToSubmit" class="layui-btn" lay-filter="save" lay-submit="">确认修改</button></div>
                </form>
            </div>
        </div>
        <script>
        function renewPwd() {
            var userid;
            var newpwd;
            alert(userid);
            // userid=document.getElementById("userid").value;
            // newpwd=document.getElementById("newpwd").value;
            // axios.get('/qypt/changePwdOK', {
            //     params: {
            //         userid: userid,
            //         newpwd: newpwd
            //     }
            // }).then(function (response) {
            //     alert(response);
            // }).catch(function (error) {
            //     alert(error);
            // });
        }
            (function() {

            })();
        </script>
    </body>

</html>